<div class="offcanvas-header">
  <h1 id="editPassengerLabel"><strong>Add Passenger</strong></h1>
  <button type="button" class="btn-close btn-lg btn-danger text-reset" data-bs-dismiss="offcanvas"
    aria-label="Close"></button>
</div>
<div class="offcanvas-body">
  <div class="form-box col-xs-12 mt-2">
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()" novalidate class="form">
      <div class="form-group mb-4">
        <div class="controls mb-2">
          <label for="firstname"><strong>First Name <span class="lblError text-danger">*</span> : </strong></label>
          <input type="text" id="firstname" placeholder="Enter your firstname" class="form-control"
            formControlName="firstname" />
          <p class="lblError text-danger" *ngIf="
      createForm.get('firstname').hasError('required') &&
      createForm.get('firstname').touched
    ">
            Enter your First Name
          </p>
        </div>

        <div class="controls mb-2">
          <label for="lastname"><strong>Last Name <span class="lblError text-danger">*</span> : </strong></label>
          <input type="text" id="lastname" placeholder="Enter your lastname" class="form-control"
            formControlName="lastname" />
          <p class="lblError text-danger" *ngIf="
      createForm.get('lastname').hasError('required') &&
      createForm.get('lastname').touched
    ">
            Enter your Last Name
          </p>
        </div>

        <div class="controls mb-2">
          <label for="passportNumber"><strong>Passport Number :
            </strong></label>
          <input type="text" id="passportNumber" placeholder="Enter your passportNumber" class="form-control"
            formControlName="passportNumber" />
        </div>

        <div class="controls mb-2">
          <label for="birthDate"><strong>Date of Birth : </strong></label>
          <input type="date" id="birthDate" placeholder="DD/MM/YYYY" class="form-control"
            formControlName="birthDate" />
        </div>

        <div class="controls mb-2">
          <label for="address"><strong>Address : </strong></label>
          <input type="text" id="address" placeholder="Enter your address" class="form-control"
            formControlName="address" />
        </div>

        <div class="controls mb-2">
          <!-- <p> {{ flightId }} </p> -->
          <label for="flightId"><strong>Flight Id : </strong></label>
          <input readonly id="flightId" class="form-control-plaintext" formControlName="flightId" />
        </div>

        <div class="controls mb-2">
          <label for="seatNumber"><strong>Seat Number <span class="lblError text-danger">*</span> : </strong></label>
          <input type="text" id="seatNumber" placeholder="Enter your seatNumber" class="form-control"
            formControlName="seatNumber" />
          <p class="lblError text-danger" *ngIf="
        createForm.get('seatNumber').hasError('required') &&
        createForm.get('seatNumber').touched
      ">
            Enter your Seat Number
          </p>
        </div>

        <div class="controls mb-2">
          <label for="checkedIn" class="me-2"><strong>Checked In <span class="lblError text-danger">*</span> :
            </strong></label>
          <input id="yes" type="radio" value="yes" name="checkedIn" formControlName="checkedIn"
            class="me-2 form-check-input">
          <label for="yes" class="me-2">Yes</label>
          <input id="no" type="radio" value="no" name="checkedIn" formControlName="checkedIn"
            class="me-2 form-check-input">
          <label for="no">No</label>
          <p class="lblError text-danger" *ngIf="
        createForm.get('checkedIn').hasError('required') &&
        createForm.get('checkedIn').touched
      ">
            Enter your Checked In Status
          </p>
        </div>

        <div class="controls mb-2">
          <label for="infants" class="me-2"><strong>Infants <span class="lblError text-danger">*</span> :
            </strong></label>
          <input id="yes" type="radio" value="yes" name="infants" formControlName="infants"
            class="me-2 form-check-input">
          <label for="yes" class="me-2">Yes</label>
          <input id="no" type="radio" value="no" name="infants" formControlName="infants" class="me-2 form-check-input">
          <label for="no">No</label>
          <p class="lblError text-danger" *ngIf="
        createForm.get('infants').hasError('required') &&
        createForm.get('infants').touched
      ">
            Enter your Infants
          </p>
        </div>

        <div class="controls mb-2">
          <label for="wheelChair" class="me-2"><strong>Wheel Chair <span class="lblError text-danger">*</span> :
            </strong></label>
          <input id="yes" type="radio" value="yes" name="wheelChair" formControlName="wheelChair"
            class="me-2 form-check-input">
          <label for="yes" class="me-2">Yes</label>
          <input id="no" type="radio" value="no" name="wheelChair" formControlName="wheelChair"
            class="me-2 form-check-input">
          <label for="no">No</label>
          <p class="lblError text-danger" *ngIf="
        createForm.get('wheelChair').hasError('required') &&
        createForm.get('wheelChair').touched
      ">
            Enter your Wheel Chair
          </p>
        </div>

        <div class="controls mb-4">
          <label for="ancillaryServices" class="me-2"><strong>Ancillary Services <span
                class="lblError text-danger">*</span> : </strong></label>
          <input id="yes" type="radio" value="yes" name="ancillaryServices" formControlName="ancillaryServices"
            class="me-2 form-check-input">
          <label for="yes" class="me-2">Yes</label>
          <input id="no" type="radio" value="no" name="ancillaryServices" formControlName="ancillaryServices"
            class="me-2 form-check-input">
          <label for="no">No</label>
          <p class="lblError text-danger" *ngIf="
        createForm.get('ancillaryServices').hasError('required') &&
        createForm.get('ancillaryServices').touched
      ">
            Enter your Ancillary Services
          </p>
          <p class="text-info"><strong>Wifi is included by default!</strong></p>
        </div>

        <div class="controls mb-4">
          <button class="cancel-button btn btn-block me-2" type="button"
            data-bs-dismiss="offcanvas">Cancel</button>
          <button class="btn btn-success btn-block" type="submit" [disabled]="!createForm.valid">Save</button>
        </div>

      </div>
    </form>
  </div>
</div>