@import "../../../assets/scss/variables/colors";

img{
    width: 50px;
}
.user-info{
    h1{
        font-family: Brush Script MT, Brush Script Std, cursive;
        color: map-get($colors, "text", "white");
        font-size: xx-large;
    }
}

.navbar{
    box-shadow: 4px 4px 15px map-get($colors, "background", "black-light");

    .admin{
        color: map-get($colors, "background", "white-pale");
        font-size: x-large;
    }

    button{
        background-color: map-get($colors, "background", "purple-light");
    }
}

.container-fluid{
    @media (max-width: 360px) { 
        img{
            width: 30px;
        }
        .admin{
            strong{
                font-size: 13px;
                font-weight: normal;
            }
        }
    }
}
