/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "./assets/scss/variables/colors";

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("./assets/images/background-image.jpg");
  height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: arial;
  margin: 0px;
  padding: 0px;

  .card {
    background-color: map-get($colors, "background", "purple-light");
    box-shadow: 5px 10px 18px map-get($colors, "background", "black-light");
    margin: 20px 40px;

    .card-body {
      .card-title {
        background-color: map-get($colors, "background", "purple-dark");
        color: map-get($colors, "background", "purple-pale");
        padding: 15px;
        box-shadow: 4px 4px 10px map-get($colors, "background", "grey-dark");
      }

      .view-details {
        :hover {
          transform: translateY(-0.25em);
          transition-duration: 0.3s;
          box-shadow: 4px 4px 10px map-get($colors, "background", "violet");
        }
      }
    }
  }

  .modal-dialog {
    .modal-header {
      background-color: map-get($colors, "background", "grey-dark");
      color: map-get($colors, "background", "off-white");
      align-items: center;
      justify-content: center;
    }

    .modal-body {
      background-color: map-get($colors, "background", "off-white");
    }

    .modal-footer {
      background-color: map-get($colors, "background", "grey-dark");
    }
  }
  .offcanvas-header {
    background-color: map-get($colors, "background", "grey-dark");
    color: map-get($colors, "background", "off-white");
  }

  .offcanvas-body {
    background-color: map-get($colors, "background", "off-white");
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
