/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("./assets/images/background-image.jpg");
  height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: arial;
  margin: 0px;
  padding: 0px;

  .card {
    background-color: #9882ac;
    box-shadow: 5px 10px 18px #0c0910;
    margin: 20px 40px;

    .card-body {
      .card-title {
        background-color: #453750;
        color: #b3a5ca;
        padding: 15px;
        box-shadow: 4px 4px 10px #73648a;
      }

      .view-details {
        :hover {
          transform: translateY(-0.25em);
          transition-duration: 0.3s;
          box-shadow: 4px 4px 10px #292030;
        }
      }
    }
  }

  .modal-dialog {
    .modal-header {
      background-color: #73648a;
      color: #f9f8f8;
      align-items: center;
      justify-content: center;
    }

    .modal-body {
      background-color: #f9f8f8;
    }

    .modal-footer {
      background-color: #73648a;
    }
  }
  .offcanvas-header {
    background-color: #73648a;
    color: #f9f8f8;
  }

  .offcanvas-body {
    background-color: #f9f8f8;
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
