@import "../../assets/scss/variables/colors";

.container-fluid{
    background-repeat: no-repeat;
    background-position:center;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    justify-content: center;
    align-items: center;

    .login{

        h1{
            font-family: Brush Script MT, Brush Script Std, cursive;
            font-size: 4rem;
            color: map-get($colors, "text", "violet-pale");
        }

        hr{
            color: map-get($colors, "text", "grey-dark");
        }
        
        label{
            color: map-get($colors, "text", "violet-light");
        }

        .submit{
            background-color: map-get($colors, "text", "violet-pale");;
        }

        @media (max-width: 360px) { 
            padding: 20px;

            h1{
                font-size: 2.8rem;
            }
        }
        
    }

    .footer{
        color: map-get($colors, "text", "grey-dark");;
    }
    
}